In [2]:
## Simple Print Method
print("Hello World")

Hello World

In [8]:
# Variables
num1=10 #number
num2=20.89 #number
name="Mind Sprint" #String

print("Number1: ",num1)
print(f"Number2 {num2}")
print("Name: ",name)
## data type
print(type(num1))
print(type(num2))
print(type(name))

Number1:  10
Number2 20.89
Name:  Mind Sprint
<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
## Value Assignment to Variables
x,y,z= "test1","test2","test3"
print(x," ",y," ",z)
# Assign same value to multiple variables
p=q=r="temp"
print(p," ",r," ",q)

test1   test2   test3
temp   temp   temp

In [11]:
## Taking input from user
num1 = input("Enter first Number")
num2 = input("Enter second Number")

n1= int(num1) # typecast in int
n2= int(num2) # typecast in int
print("Addition: ", n1+n2)

Enter first Number 1
Enter second Number 2

Addition:  3

In [16]:
num=10
print('initial value:',num)
num+=5
print('After increment: ',num)
num-=3
print('After Decrement: ',num)
num*=2
print('After multiplication: ',num)
num**=2
print('After Exponent: ',num)
num//=2
print('After floor Division: ',num)

initial value: 10
After increment:  15
After Decrement:  12
After multiplication:  24
After Exponent:  576
After floor Division:  288

In [18]:
email=input('enter your email')
password=input('enter your password')
print(email=='admin@gmail.com' and password=='admin@123')

enter your email admin@gmail.com
enter your password admin@123

True

In [24]:
mrp=int(input('total mrp'))
discount=0
if mrp>=500:
    discount=20
elif mrp>=200 and mrp<500:
    discount=10
discount_price= mrp*discount/100
final_amount=mrp-discount_price
print('Total Discount given ',discount,'%')
print('You saved ',discount_price)
print('final amount ',final_amount)

total mrp 100

Total Discount given  0 %
You saved  0.0
final amount  100.0

In [25]:
def hello():
    print('Hello World')
hello()

Hello World

In [26]:
def greet(name):
    print('Good Noon: ',name)
greet('sonam soni')

Good Noon:  sonam soni

In [27]:
def login(username,password):
    if username=='admin' and password=='admin123':
        print('Logged in...')
        print('Welcome Admin')
    else:
        print('Invalid credentials')

username=input('enter username')
password=input('enter password')
login(username,password)

enter username admin
enter password admin123

Logged in...
Welcome Admin

In [50]:
# List
mylist=[10,20,30,40,50]
print(mylist)
print(mylist[3]) ## access based on index
mylist.append(60) ## append add element at last index
print(mylist)
#insert element at some index
mylist.insert(2,25)
print(mylist)
## Data Removal
data=mylist.pop() ## its removing last element which you save in some variable
print(data, "removed") 
print(len(mylist)) # checking length
print('Minimun Value',min(mylist))
print('Maximum Value',max(mylist))
print('Sum Value',sum(mylist))

mylist.remove(25)
print('25 removed')
print(mylist)

## Check membership
print(20 in mylist)
print(mylist[1:3])

[10, 20, 30, 40, 50]
40
[10, 20, 30, 40, 50, 60]
[10, 20, 25, 30, 40, 50, 60]
60 removed
6
Minimun Value 10
Maximum Value 50
Sum Value 175
25 removed
[10, 20, 30, 40, 50]
True
[20, 30]

In [52]:
mylist.extend([1,2,3,4]) ## adding element at last
print(mylist)

mylist[4]=35 # updating element
print(mylist)

mylist.pop(4)
print(mylist)

[10, 30, 40, 50, 1, 2, 3, 4]
[10, 30, 40, 50, 35, 2, 3, 4]
[10, 30, 40, 50, 2, 3, 4]

In [53]:
## delete using index number
# del mylist[1]
# print(mylist)
mylist.clear()
print(mylist)

[]

In [55]:
mydata=[1,2,3,4,5,6,7,8,9]
print("using for in loop")
for num in mydata:
    print(num)
print("using while loop")
i=0
while i<len(mydata):
    print(mydata[i])
    i+=1

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [56]:
mydata.sort(reverse=True)
print(mydata)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
mydata.reverse()
print(mydata)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
#creating tuple
names=('alex','bob','catty','devid')
print(names)

mixed=('test',True,78,3.14,[2,3,4])
print(mixed)

#Empty tuple
empty_tup=()
print(empty_tup)
#tupe with single value
data = ('hell',) # , is mandatory
print(data)
print(type(data))

print('Access values',names[1])
print('Access values',names[-1])
print('Access values',names[0:3])
names= list(names)
print(names)
names.append('ella')
names= tuple(names)
print(names)

('alex', 'bob', 'catty', 'devid')
('test', True, 78, 3.14, [2, 3, 4])
()
('hell',)
<class 'tuple'>
Access values bob
Access values devid
Access values ('alex', 'bob', 'catty')
['alex', 'bob', 'catty', 'devid']
('alex', 'bob', 'catty', 'devid', 'ella')

In [70]:
tuple1=(1,2,3)
tuple2=(4,5,6)
concat= tuple1+ tuple2
print(concat)

new_tuple=('temp',)*4 # repetation of tuple
print(new_tuple)

(1, 2, 3, 4, 5, 6)
('temp', 'temp', 'temp', 'temp')

In [73]:
list= [1,2,3,4,2,5,3,6,8]
print(list.count(3)) # checking howmany 3's in the list
#index of
print(list.index(3)) # first occurance of 3

2
2

In [89]:
## Employee Dictionary
employee={
    "eid":1001,
    "name":"John Doe",
    "department":"I.T.",
    "salary":45678
}

print(employee)
print('Employee Id',employee['eid'])
print('Employee Name:' , employee.get('name'))

{'eid': 1001, 'name': 'John Doe', 'department': 'I.T.', 'salary': 45678}
Employee Id 1001
Employee Name: John Doe

In [90]:
# print('Manager: ', employee['manager']) # throws an error if key not found
print('Manager: ', employee.get('manager')) # will give none if not found
print('Manager: ',employee.get('manager','Sonam-Soni'))

Manager:  None
Manager:  Sonam-Soni

In [91]:
# update manager
employee['manager']="Shreenu" 
employee['salary']=98888
print(employee)

{'eid': 1001, 'name': 'John Doe', 'department': 'I.T.', 'salary': 98888, 'manager': 'Shreenu'}

In [92]:
data=employee.popitem() ## remove last pair
print(data, 'removed')
print(employee)

('manager', 'Shreenu') removed
{'eid': 1001, 'name': 'John Doe', 'department': 'I.T.', 'salary': 98888}

In [93]:
data=employee.pop('salary')
print(data,'removed')
print(employee)

98888 removed
{'eid': 1001, 'name': 'John Doe', 'department': 'I.T.'}

In [94]:
del employee['name']
print(employee)

{'eid': 1001, 'department': 'I.T.'}

In [96]:
student={
    "id":1,
    "name":"alex",
    "email":"alex@gmail.com",
    "address":"us"
}
for key in student:
    print(key,": ",student[key])

id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [97]:
print(student.items())

dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])

In [99]:
for key,value in student.items():
    print(key,": ",value)

id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [101]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [109]:
## Set 
myset = {404,200,500,302,403,302}
print(myset) ## no order maintained and no duplicates allowed

{403, 404, 500, 200, 302}

In [111]:
#iteration
for num in myset:
    print(num)

403
404
500
200
302

In [125]:
##Adding an element
myset.add(501)
print(myset)
myset.update([303,402])#pass list to add multiple elements
print(myset)
## Removal
myset.remove(303)
print(myset)

{402, 404, 500, 501, 200, 302}
{402, 404, 500, 501, 200, 302, 303}
{402, 404, 500, 501, 200, 302}

In [126]:
myset.discard(303) #if not found then no error
print(myset)
myset.pop()
print(myset)

{402, 404, 500, 501, 200, 302}
{402, 500, 501, 200, 302}

In [127]:
myset.clear()
print(myset)

set()

In [128]:
if len(myset)>0:
    myset.pop()
else:
    print('set is empty')

set is empty

In [129]:
myset.update([1,2,3,4,5,6,7])
print(myset)

{1, 2, 3, 4, 5, 6, 7}

In [142]:
employees=dict();
def add_employee(id,name,department,salary):
    n= len(employees)
    employees[f'emp{n+1}']={"id":id,"name":name,"department":department,"salary":salary}
def update_employee(id,salary):
    for emp in employees:
        if employees[emp]['id']==id:
            employees[emp]['salary']=salary
            break
def remove_employee(id):
    for emp in employees:
        if employees[emp]['id']==id:
            employees.pop(emp)
            break
def print_employees(employees):
    for emp in employees:
        print("---------------------------------")
        for key in employees[emp]:
            print(key," ",employees[emp][key])

add_employee(1,"alex","I.T.",90000)
add_employee(2,"bob","Sales",80000)
add_employee(101,"jack","finance",32000)
print_employees(employees)
update_employee(101,42000)
print_employees(employees)
remove_employee(101)
print_employees(employees)

---------------------------------
id   1
name   alex
department   I.T.
salary   90000
---------------------------------
id   2
name   bob
department   Sales
salary   80000
---------------------------------
id   101
name   jack
department   finance
salary   32000
---------------------------------
id   1
name   alex
department   I.T.
salary   90000
---------------------------------
id   2
name   bob
department   Sales
salary   80000
---------------------------------
id   101
name   jack
department   finance
salary   42000

KeyError: 101