In [1]:
import pandas as pd
print('Version: ',pd.__version__)

Version:  2.2.3

In [4]:
list=[1,9,4,29,54,89,20]
myseries=pd.Series(list)
print(myseries)
print('Element at Index 3',myseries[3])

0     1
1     9
2     4
3    29
4    54
5    89
6    20
dtype: int64
Element at Index 3 29

In [6]:
employee={
    "id":1,
    "name":"Sonam Soni",
    "email":"sonam@gmail.com",
    "address":"Mumbai",
    "salary":9876543
}
data= pd.Series(employee)
print(data)
print("id",data["id"]) #label created automatically based on key
print("name",data["name"])

id                       1
name            Sonam Soni
email      sonam@gmail.com
address             Mumbai
salary             9876543
dtype: object
id 1
name Sonam Soni

In [17]:
## Simple Data Frame
sample={
    "id":[1,2,3,4],
    "name":["A","B","C","D"]
}
df=pd.DataFrame(sample)
print(df)
print(df.loc[0])
print(df.iloc[0,1]) #index loc to get element at 0th row and 1st Column
print(df.loc[[0,1]]) # first 2 rows

   id name
0   1    A
1   2    B
2   3    C
3   4    D
id      1
name    A
Name: 0, dtype: object
A
   id name
0   1    A
1   2    B

In [21]:
print(df.loc[[0,2]]) # getting index based access

   id name
0   1    A
2   3    C

In [27]:
user_data={
    "name":["alex","catty","bob"],
    "age" : [23,24,23]
}
df1= pd.DataFrame(user_data,index=["user1","user2","user3"])
print(df1.loc["user3"])
print(df1)

name    bob
age      23
Name: user3, dtype: object
        name  age
user1   alex   23
user2  catty   24
user3    bob   23

In [34]:
user_data={
    "age" : [23,24,23],
    "name":["alex","catty","bob"],
    "salary":[34567,9876,7890],
    "email":["alex@gmail.com","cat@gmail.com","bob@gmail.com"]
}
df1= pd.DataFrame(user_data,columns=["name","email","age","salary"])
print(df1)

    name           email  age  salary
0   alex  alex@gmail.com   23   34567
1  catty   cat@gmail.com   24    9876
2    bob   bob@gmail.com   23    7890

In [35]:
student_data = pd.read_csv('student_data.csv')
print(student_data) #printing entire dataframe

     id               name                     email  gender  grade
0     1  Cheston MacAlpine  cmacalpine0@linkedin.com    Male    4.2
1     2     Maggee Gillham       mgillham1@diigo.com  Female    2.3
2     3   Melloney Marxsen        mmarxsen2@uiuc.edu  Female    9.0
3     4    Tynan Dabernott      tdabernott3@nasa.gov    Male    5.3
4     5          Dick Rama           drama4@java.com    Male    1.5
..  ...                ...                       ...     ...    ...
95   96       Ernie Burren       eburren2n@google.pl    Male    2.0
96   97      Cosette Mayes      cmayes2o@blogger.com  Female    8.7
97   98      Arnuad Ismail  aismail2p@washington.edu    Male    3.1
98   99      Pierre Friary  pfriary2q@deviantart.com    Male    1.0
99  100      Lenna Klimsch      lklimsch2r@prlog.org  Female    3.1

[100 rows x 5 columns]

In [38]:
#directly taking tabular structure
student_data.head()
# print(student_data.head())

   id               name                     email  gender  grade
0   1  Cheston MacAlpine  cmacalpine0@linkedin.com    Male    4.2
1   2     Maggee Gillham       mgillham1@diigo.com  Female    2.3
2   3   Melloney Marxsen        mmarxsen2@uiuc.edu  Female    9.0
3   4    Tynan Dabernott      tdabernott3@nasa.gov    Male    5.3
4   5          Dick Rama           drama4@java.com    Male    1.5

In [39]:
# See all data
print(student_data.to_string())

     id                  name                          email       gender  grade
0     1     Cheston MacAlpine       cmacalpine0@linkedin.com         Male    4.2
1     2        Maggee Gillham            mgillham1@diigo.com       Female    2.3
2     3      Melloney Marxsen             mmarxsen2@uiuc.edu       Female    9.0
3     4       Tynan Dabernott           tdabernott3@nasa.gov         Male    5.3
4     5             Dick Rama                drama4@java.com         Male    1.5
5     6   Alejandrina Simmers       asimmers5@privacy.gov.au     Bigender    9.4
6     7        Chauncey Focke         cfocke6@slideshare.net      Agender    6.9
7     8           Julie Ismay                jismay7@gnu.org  Genderfluid    7.7
8     9       Antonia Duckels        aduckels8@rakuten.co.jp       Female    2.5
9    10          Graig Chaman          gchaman9@buzzfeed.com         Male    5.2
10   11        Fran Humphries  fhumphriesa@ezinearticles.com         Male    3.1
11   12           Dolly Tilby          dtilbyb@blinklist.com       Female    4.3
12   13        Dilan Ducastel      dducastelc@infoseek.co.jp         Male    2.2
13   14       Georgina Aronow         garonowd@indiegogo.com       Female    8.3
14   15        Annetta Runham               arunhame@php.net       Female    4.6
15   16     Deborah Scandrite    dscandritef@fastcompany.com       Female    3.7
16   17           Emili Blade              ebladeg@vimeo.com       Female    2.0
17   18         Colet Ridoutt               cridoutth@qq.com         Male    3.1
18   19        Neel Edworthye         nedworthyei@ebay.co.uk   Polygender    7.5
19   20           Regine Tutt            rtuttj@hatena.ne.jp       Female    9.4
20   21     Eugene Bickerdike  ebickerdikek@biblegateway.com   Non-binary    3.5
21   22      Paulina Leyborne     pleybornel@hugedomains.com       Female    8.0
22   23     Christoforo Soles              csolesm@google.fr         Male    8.0
23   24   Corabella Saltsberg      csaltsbergn@quantcast.com       Female    9.0
24   25        Zahara Stanway            zstanwayo@phpbb.com       Female    8.2
25   26  Courtnay Joselevitch         cjoselevitchp@wisc.edu         Male    3.3
26   27      Chevalier Dwelly             cdwellyq@blogs.com         Male    1.9
27   28             Rob Spain              rspainr@europa.eu         Male    8.5
28   29          Granny Dykas             gdykass@disqus.com         Male    2.0
29   30     Harrietta Yglesia             hyglesiat@ucsd.edu       Female    2.6
30   31        Shelba Ambrose           sambroseu@google.com  Genderqueer    5.1
31   32         Fae Mapletoft            fmapletoftv@hhs.gov       Female    5.3
32   33       Lyndsie Dishmon  ldishmonw@merriam-webster.com       Female    3.2
33   34       Mariya Pflieger           mpfliegerx@wired.com       Female    2.7
34   35          Blondy Foyle      bfoyley@cocolog-nifty.com     Bigender    8.6
35   36           Clive Wilds    cwildsz@businessinsider.com         Male    5.4
36   37       Lyell Cockshoot           lcockshoot10@cdc.gov         Male    1.4
37   38           Micah Beere             mbeere11@mysql.com         Male    2.2
38   39          Elvis Easman        eeasman12@rakuten.co.jp         Male    5.6
39   40      Amargo Brakewell        abrakewell13@utexas.edu       Female    5.2
40   41         Wilone Dodson          wdodson14@answers.com       Female    4.9
41   42     Barrie Avrahamian    bavrahamian15@newyorker.com         Male    9.8
42   43          Smith Mynott          smynott16@archive.org         Male    9.6
43   44   Laurianne Tregunnah          ltregunnah17@ning.com       Female    6.3
44   45      Bertha McIlwaine         bmcilwaine18@exblog.jp       Female    5.1
45   46          Anthea Fawlo               afawlo19@sun.com       Female    6.8
46   47        Nicolea Oldale   noldale1a@simplemachines.org       Female    4.4
47   48     Banky Stinchcombe        bstinchcombe1b@ebay.com      Agender    9.1
48   49       Justino Deviney          jdeviney1c@unicef.org         Male    1.6
49   50    Letisha Matzkaitis        lmatzkaitis1d@ifeng.com       Female    2.0
50   51        Hilton Capelle           hcapelle1e@europa.eu         Male    3.2
51   52       Silvanus Kilian            skilian1f@google.nl         Male    4.0
52   53      Uriah Waadenburg  uwaadenburg1g@tripadvisor.com         Male    7.0
53   54  Violetta Littlefield       vlittlefield1h@fotki.com       Female    8.9
54   55      Wilbert Hallihan            whallihan1i@wsj.com         Male    6.9
55   56    Nikolas Abramovitz          nabramovitz1j@npr.org         Male    4.0
56   57   Maynard Northcliffe      mnorthcliffe1k@toplist.cz         Male    3.4
57   58           Amye Boggas      aboggas1l@istockphoto.com       Female    7.3
58   59       Levin MacMechan   lmacmechan1m@theguardian.com         Male    6.3
59   60    Timothy Beavington       tbeavington1n@flavors.me         Male    4.3
60   61       Fairlie Didball          fdidball1o@eepurl.com         Male    5.7
61   62        Doralynne Rand             drand1p@nsw.gov.au       Female    5.7
62   63        Wernher Pavett              wpavett1q@bbb.org         Male    2.5
63   64         Rossie Rielly           rrielly1r@flavors.me     Bigender    2.6
64   65        Greer Hourstan      ghourstan1s@wordpress.com       Female    9.8
65   66    Kinnie Danilchenko     kdanilchenko1t@smugmug.com         Male    1.7
66   67          Merle Golson        mgolson1u@bloglovin.com       Female    6.4
67   68        Napoleon Nuton             nnuton1v@jigsy.com         Male    7.9
68   69     Martainn Noorwood             mnoorwood1w@go.com         Male    4.3
69   70        Galvin Laviste           glaviste1x@topsy.com         Male    6.2
70   71      Jenica Bartoleyn           jbartoleyn1y@ted.com       Female    1.2
71   72         Aluino Broker                abroker1z@de.vu         Male    7.1
72   73        Niccolo Dyball         ndyball20@usatoday.com         Male    5.8
73   74     Bernardine Bateup            bbateup21@hc360.com       Female    8.9
74   75         Renaldo Goman             rgoman22@prlog.org         Male    2.0
75   76        Rubie Gillooly       rgillooly23@newsvine.com       Female    3.5
76   77        Winona Euplate                weuplate24@t.co       Female    6.5
77   78        Godard Bartley      gbartley25@guardian.co.uk         Male    1.9
78   79          Pen Gladbeck           pgladbeck26@sohu.com         Male    9.2
79   80         Beulah Nassau            bnassau27@google.ru       Female    2.2
80   81            Dave Okill         dokill28@people.com.cn         Male    4.5
81   82             Cori Hunt       chunt29@odnoklassniki.ru         Male    4.5
82   83         Josee Delagua            jdelagua2a@army.mil   Polygender    7.9
83   84        Aldwin Doherty       adoherty2b@clickbank.net         Male    9.8
84   85       Harcourt Widdop          hwiddop2c@shop-pro.jp         Male    4.0
85   86    Doroteya Schinetti            dschinetti2d@go.com       Female    6.2
86   87          Aubrey Gokes       agokes2e@cyberchimps.com         Male    3.4
87   88        Bernie Jickles        bjickles2f@hatena.ne.jp         Male    5.8
88   89       Lodovico Stains          lstains2g@jiathis.com         Male    7.4
89   90        Page de Merida           pde2h@thetimes.co.uk         Male    7.8
90   91        Dorise Kirrens             dkirrens2i@fda.gov       Female    3.1
91   92       Reinwald Pessel       rpessel2j@feedburner.com         Male    1.6
92   93    Roobbie Brotherhed      rbrotherhed2k@cbsnews.com       Female    6.9
93   94       Lemmie Braisher      lbraisher2l@economist.com         Male    6.7
94   95      Myrtia Anthiftle        manthiftle2m@zimbio.com       Female    7.7
95   96          Ernie Burren            eburren2n@google.pl         Male    2.0
96   97         Cosette Mayes           cmayes2o@blogger.com       Female    8.7
97   98         Arnuad Ismail       aismail2p@washington.edu         Male    3.1
98   99         Pierre Friary       pfriary2q@deviantart.com         Male    1.0
99  100         Lenna Klimsch           lklimsch2r@prlog.org       Female    3.1

In [40]:
print(student_data.head(3)) ## give first 3 rows

   id               name                     email  gender  grade
0   1  Cheston MacAlpine  cmacalpine0@linkedin.com    Male    4.2
1   2     Maggee Gillham       mgillham1@diigo.com  Female    2.3
2   3   Melloney Marxsen        mmarxsen2@uiuc.edu  Female    9.0

In [41]:
# Last 2 rows
print(student_data.tail(2))

     id           name                     email  gender  grade
98   99  Pierre Friary  pfriary2q@deviantart.com    Male    1.0
99  100  Lenna Klimsch      lklimsch2r@prlog.org  Female    3.1

In [42]:
# No of Rows and Columns
print(student_data.shape)

(100, 5)

In [43]:
# Summary
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    int64
 1   name    100 non-null    object
 2   email   100 non-null    object
 3   gender  100 non-null    object
 4   grade   100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB
None

In [49]:
student_data['grade'].describe() #describe only for grade column

count    100.000000
mean       5.231000
std        2.568012
min        1.000000
25%        3.100000
50%        5.150000
75%        7.425000
max        9.800000
Name: grade, dtype: float64

In [48]:
student_data[['id','name','grade']].head() #reading selected columns

   id               name  grade
0   1  Cheston MacAlpine    4.2
1   2     Maggee Gillham    2.3
2   3   Melloney Marxsen    9.0
3   4    Tynan Dabernott    5.3
4   5          Dick Rama    1.5